@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body, *{
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-weight: 900;
}

h3, h4 {
    font-weight: 700;
}

h5, h6 {
    font-weight: 400;
}

p {
    font-weight: 400;
}

.text-900{
    font-weight: 900;
}

.text-700{
    font-weight: 700;
}

.text-400{
    font-weight: 400;
}

.text-index{
    margin-top: 200px;
}


.login-card {
    min-width: 450px;
}

.h-logo{
    margin-top:45px;
    margin-bottom:25px;
    margin-left: 15px;
    width: 125px;
}

.card-index{
    height: 200px;
    width: 100px;
}

.cor-principal{
    background: #2A3233 !important;
}

.cor-secundaria{
    background: #4ECDC4 !important;
}

.color-text-1{
    color: #2A3233 !important;
}

.color-text-2{
    color: #4ECDC4 !important;
}

.width100 {
    width: 100% !important;
}

.icon-awesome {
    margin-right: 10px;
}

.search-bar{
    background: #f1f1f1;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-filter{
    margin-top: 25px; 
    margin-left: 30px;
}

.img-avatar {
    margin-right: 50px;
    width: 150px !important;
    height: 150px !important;
    margin-bottom: -30px;
}

.img-avatar-perfil{
    width: 300px !important;
    height: 300px !important;
}

.cell{
    color: #2A3233;
}




.ui-rating-star a{
    width: 35px;
    height: 35px;
    display: block;
    background: url('../img/star-off.png');
}

.ui-rating-star-on a{
    width: 35px;
    height: 35px;
    display: block;
    background: url('../img/star.png') !important;
}

.ui-paginator.ui-paginator-bottom, .ui-paginator.ui-paginator-top{
    background: #4ECDC4;
}

.ui-paginator-pages a{
    color: #fff;
    border-color: #fff !important;
}

.ui-paginator-pages .ui-state-disable a{
    color: gray !important;
    border-color: #fff !important;
}

.ui-paginator .ui-paginator-next .ui-icon{
    display: inline-block;
    padding: 2px 6px;
    zoom: 1;
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: none;
    outline: 0;
    background: url('https://cdn4.iconfinder.com/data/icons/pointy/70/arrow4-4-512.png');
}

.card .card-image img{
    border-radius: 50% !important;
}

.card .card-image img{
    border-radius: 0px !important;
}



